{% extends 'base.html' %}

{% block content%}

<div class="container">
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Let's collect Pokemon cards together!</h2>
            <h5>Create an amazing API tool for Pokemon card collecting developers.</h5>
            <div>
                <button class="btn btn-primary">View Our Docs</button>
                <button class="btn btn-primary">Join Our Slack</button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img class="header-image" src="../../static/images/pokeheader.JPG" alt="Hero Header Image">
        </div>
    </header>



    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/apicloud.png" alt="API image">
            <h4>Dedicated API Routes</h4>
            <p>
                If you are a fan of using traditional API routes. We have those for you!
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/grql.png" alt="GraphQL image">
            <h4>GraphQL API Route</h4>
            <p>
                If you want all the data from one endpoint, we have that too!
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/datab.png" alt="Database image">
            <h4>Backed by a PostgreSQL Database</h4>
            <p>
                All data will be persisted inside of a secure Postgres Database!
            </p>
        </div>
    </section>


    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/trainerfin.JPG" alt="Pokemon Trainers" id="Pokemon-image">
        </div>
        <div class="col-12 col-md-6">
            <h4>Talk with like minded card collectors</h4>
            <p>Connect with other developers around the world and collab on projects with your data(will definitely help completing the pokedex!). Join our slack channel and give a star to the project on Github, we love the support from our Pokevelopers!
            </p>
            <div>
                <button class="btn btn-primary">View on Github</button>
                <button class="btn btn-primary">Join our Slack Channel</button>
            </div>
        </div>
    </section>
    

    <footer class="row" id="footer">
        <div class="col-2">
            <img src="../../static/images/gb_final.jpg" alt="Great Ball" id="footer-logo">
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platforms</h4>
                <p>Why Pokemon Cards?</p>
                <p>The Pokedex Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platforms</h4>
                <p>Why Pokemon Cards?</p>
                <p>The Pokedex Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platforms</h4>
                <p>Why Pokemon Cards?</p>
                <p>The Pokedex Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platforms</h4>
                <p>Why Pokemon Cards?</p>
                <p>The Pokedex Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platforms</h4>
                <p>Why Pokemon cards?</p>
                <p>The Pokedex Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
    </footer>
</div>

{% endblock content %}